<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.BlogMapper">
    <select id="selectBlog" resultType="com.jason.domain.Blog">
        select * from blog where id = #{id}
    </select>
    <insert id="insertBlog">
        insert into blog (id,name) values (#{id},#{name})
    </insert>
</mapper>